.widget_bananawb_widget_prices {
    margin: 0;
    padding: 0;
}


.widget-prices-many.widget-prices-horizontal #widget-prices-container {
    width: 25%;
}

.widget-prices-solo #widget-prices-container {
    width: 100%;
}

.widget_bananawb_widget_prices .heading-one {
    font-size: 1em;
}

.widget_bananawb_widget_prices .heading-two {
    font-size: 1.4em;
    color: #2a34bb;
}

.widget_bananawb_widget_prices .widget-prices-info {
    font-size: 11px;
    background: #e9edf1;
    font-family: sans-serif;
    padding: 5px 15px;

}


.widget_bananawb_widget_prices .widget_wb2_widget_prices .heading-copyright {
    margin: 0px 5px 5px 0;
}

.widget_bananawb_widget_prices.mobile .heading-one {
    font-size: 0.7em;
}

.widget_bananawb_widget_prices.mobile .heading-two {
    font-size: 0.9em;
    color: #2a34bb;
}

.widget_bananawb_widget_prices.mobile .widget-prices-info {
    font-size: 9px;
    background: #e9edf1;
    margin-top: 0px;
    text-align: right;
}

.widget_bananawb_widget_prices.mobile .widget_wb2_widget_prices .heading-copyright {
    margin: -16px 5px 5px 0;
}

.widget-prices-horizontal {
    display: flex;
}

.widget_bananawb_widget_prices #widget-prices-container {
    background: #E9EDF1;
    padding: 20px;
}

.widget_bananawb_widget_prices .heading-one {
    font-size: 1.3em;
    font-family: sans-serif;
    line-height: 1.3em;
    font-weight: 400;
}

.widget_bananawb_widget_prices .heading-two {
    font-size: 2em;
    font-family: sans-serif;
    font-weight: normal;
    line-height: 1.1em;
    color: #6A42E9;
}

.widget_bananawb_widget_prices .heading-three {
    font-size: 0.8em;
    font-family: sans-serif;
    line-height: 1.5em;
    opacity: 0.5;
}

.widget_bananawb_widget_prices .heading-copyright {
    font-size: 8px;
    font-family: sans-serif;
    line-height: 11px;
    opacity: 0.2;
    float: right;
  	transition: opacity .25s ease-in-out;
  	-moz-transition: opacity .25s ease-in-out;
  	-webkit-transition: opacity .25s ease-in-out;
    margin-top: -12px;
}

.widget_bananawb_widget_prices .heading-copyright:hover {
	opacity: 1;
}

.widget_bananawb_widget_prices .heading-copyright a {
    display: flex;
    color: #6A42E9;
    font-weight: 600;
}

.widget_bananawb_widget_prices .heading-logo {
	background: url(../img/logo-itez.svg) no-repeat;
	background-size: contain;
	width: 32px;
    height: 11px;
    display: flex;
    margin-left: 2px;
}